extends layout

block content
  h1= title

  ul
    each author in author_list
      li
        if (author.date_of_death != null && author.date_of_birth != null)
          a(href=author.url) #{author.name}
          |  (#{author.date_of_birth_formatted} - #{author.date_of_death_formatted})
        else if (author.date_of_death == null && author.date_of_birth != null)
          a(href=author.url) #{author.name}
          |  (#{author.date_of_birth_formatted})
        else
          a(href=author.url) #{author.name}

    else
      li There are no authors.